<div class="container-fluid">
{{id}}
    <!--<div class="input-group">-->
        <!--<input class="form-control" ng-model="searchVal" placeholder="enter search here" type="search" ng-change="search()" />-->

    <!--</div>-->
    <!--<div class="table-responsive">-->
        <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th class="thclass"> Account-->

                <!--</th>-->
                <!--<th class="name">  Address-->
                <!--</th>-->
                <!--<th class="Email">  State-->
                <!--</th>-->
                <!--<th class="Email">  Postal Code-->
                <!--</th>-->
                <!--<th class="Email">  Last Visit-->
                <!--</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="item in updatedList">-->
                <!--<td>{{item.Account}}</td>-->
                <!--<td>{{item.Address}}</td>-->
                <!--<td style="width:5% !important" >{{item.State}}</td>-->
                <!--<td>{{item.PostalCode}}</td>-->
                <!--<td>{{item.LastVisit}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->


</div>